<div class="space-y-4">
  <p class="text-2xl font-semibold text-gray-800"><%= @counter %>. <%= @item.title %></p>
  <p class="text-xl text-gray-800"><%= number_to_currency(@item.price, :unit => "€") %></p>
  <p class="text-lg text-gray-800"><%= @item.location %></p>
  <p><%= render(DiscountComponent.new(item: @item)) %></p>
  <p class="text-gray-800"><%= EnrolleeComponent.new.total_enrollees(@item) %></p>
  <p><a href="#" class="text-purple-600 hover:underline"><%= @notice %></a></p>
</div>
